<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">The Gossip Project</h1>
          <p> <%= link_to "Créer un gossip", new_gossip_path, class:"btn btn-primary btn-sm", role:"button" %> </p>

        </div>
</div>

<div class="row">
<% @all_gossips.each do |gossip| %>
  <div class="col-sm-4" style="padding: 70px">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title"> <%= gossip.user.first_name %> </h3>
    <h4 class="card-subtitle mb-2 text-muted">à écrit</h4>
    <p class="card-text">  <%= gossip.title %> </p>
    <p> <%= link_to "Lire", gossip_path(:id=> gossip.id), class:"btn btn-secondary btn-sm", role:"button" %>
    <% if logged_in? == true %>
    <% if gossip.likes.where(user_id: current_user.id).count > 0 %>
    <%= link_to "Unlike", like_path(:id=> gossip.likes.sample), class:"btn btn-danger btn-sm", role:"button", data: {:method => "delete"} %>
    <% else %>
    <%= link_to "Like", likes_path(:gossip_id=> gossip.id), class:"btn btn-info btn-sm", role:"button", data: {:method => "create"} %>
    <% end %></p>
    <h5> Likes : <%= gossip.likes.count %></h5>
    <% end %>
  </div>
</div>
</div>
<% end %>
</div>